.checkbox{
    top: 1.2rem;
    scale: 1.7;
    margin-right: 0.8rem;
}

.completed {
    text-decoration: line-through;
}

.text-right {
    text-align: right;
  }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}