.checkbox{
    top: 1.2rem;
    scale: 1.7;
    margin-right: 0.8rem;
}

.completed {
    text-decoration: line-through;
}

.text-right {
    text-align: right;
  }

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.underline {
    text-decoration: underline;
    font-weight: bold;
  }

label {
    font-weight: bold;
}

@media only screen 
and (max-device-width: 992px)
{ 
    .mr{
        margin-right: 15px;
    }
}

@media only screen 
and (max-device-width: 768px)
{ 
    .mr{
        margin-right: 0px;
    }
}

